@import url('https://fonts.googleapis.com/css?family=VT323');

#gamegif {
  max-width: 544px;
  max-height: 580px;
  cursor: pointer;
}

#spankcounter {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  color: white;
  font-family: 'VT323', monospace;
  font-smooth: never;
  -webkit-font-smoothing : none;
  font
}

.center {
  margin: auto;
  width: 50%;
}