@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  background: gray;
  color: white;
  font-family: 'VT323', monospace;
}

h1 {
  text-align: center;
  padding: 5px;
}

nav {
  max-width: 500px;
  font-size: 22px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li button {
  background:none!important;
  color:inherit;
  border:none;
  padding:14px 16px;
  font: inherit;
  cursor: pointer;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  /* background-color: #111; */
}

footer {
  display: block;
  max-width: 500px;
}

#main {
}

#main h2 {
  text-align: center;
  padding: 1px;
}

#gamegif {
  width: 100%;
  cursor: pointer;
}

#spankcounter {
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
  padding: 5px;
  color: white;
  font-size: 32px;
}

.container {
  overflow: hidden;
  position: relative;
}
.outer {
  width: auto;
}
.inner {
  max-width: 500px;
  max-height: 500px;
  display: block;
}


.center {
  margin: auto;
  width: 33%;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
